@import 'tailwindcss';

@theme {
	--color-primary-50: #f8f5ff;
	--color-primary-100: #eee5ff;
	--color-primary-200: #deccff;
	--color-primary-300: #c3a3ff;
	--color-primary-400: #8847ff;
	--color-primary-500: #5200eb;
	--color-primary-600: #3b00a8;
	--color-primary-700: #2b007a;
	--color-primary-800: #190047;
	--color-primary-900: #0c0024;
	--color-primary-950: #070014;

	--color-gray-50: #faf9fa;
	--color-gray-100: #f2f1f4;
	--color-gray-200: #e5e3e8;
	--color-gray-300: #d0cdd6;
	--color-gray-400: #a09aac;
	--color-gray-500: #726a81;
	--color-gray-600: #524c5d;
	--color-gray-700: #3b3743;
	--color-gray-800: #232027;
	--color-gray-900: #111014;
	--color-gray-950: #0a090b;
}
